#mainpic{
    float:left;
    padding:20px 20px 20px 0;
}
#tablet{
}

#defNav{

}

@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }

    .bg-light{
        text-align: center;
    }

}

@media screen and (max-width: 480px){
    #mainpic{
        width: 100%;
        padding:20 0 0 0;
    }
}

